* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Courier New', Courier, monospace;
}
.container {
  max-width: 100%; /* Adjust as needed */
  max-height: auto;
  margin: 0 auto; 
}
.wrapper {
  background-color: #FFFFFF; 
  text-align: left;
}

/*
header style
ito yung code ng header na gagamitin sa home and other html
*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; /*size of the header height*/
  background-color: #FFFFFF; /*i make it black just to check*/
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
#profile-name{
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 10px;
}
.profile-image {
  display: flex;
  margin-right: 20px; 
  text-align: center;
  align-items: center;   /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}
.profile-image img{
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
}
.profile-image
.top-part{
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 30px;
}
/*Header Style*/

/*Reusable code for the DOCSERVE design*/
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #88c0d0; 
  letter-spacing: 1px; 
  margin-left: 20px;
}
.logo span {
  color: #D4ECDD; 
}
/*Reusable code for the DOCSERVE design*/

/*login-signup.html*/
.login-container{
  display: flex;
  max-width: 100%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
  background-color: gray; /*change this for testing*/
}
.login-container .login-left-panel {
  flex: 1;
  background-color: #eef6ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-left-panel img{
  width: 100%;
  height: auto;
}
.login-container .login-right-panel{
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login Content Styling */
.login-content {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 5px;
}
.login-container .login-right-panel .logo {
  text-align: center; /* Center the logo text horizontally in the right panel only*/
}
.login-content h2 {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}


/*getstarted.html*/
/*Top part yung dalawang button*/
.getstarted-buttons {
  display: flex;
  margin-right: 20px;
}

.getstarted-buttons button {
  background-color: #D4ECDD; /* Light Green background */
  color: #1E1E1E; /* Dark Text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  
}

.getstarted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px;
}
.getstarted-content{
  text-align: center;
}
.getstarted-content h1{
  font-size: 56px;
  margin-bottom: 20px;
}
.getstarted-content p{
  font-size: 30;
  margin: 0 auto 30px;
}
.getstarted-content button{
  background-color: 1E1E1E;
  padding: 15px 30px;
  font-size: 20px;
  max-width: 300px;
}

