/*CSS as whole*/
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff; /* Light gray background */
}
.wrapper {
    width: 400px;
    height: max-content;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}


/*Introduction.html*/

  /*Header css*/
  header {
    color: #fff; /* White text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0; left: 0; 
    padding: 40px;
    padding-top: 20px; 
  }
  .logo {
    font-size: 36px;
    font-weight: bold;
    color: #88c0d0; 
    letter-spacing: 1px; 
    text-align: center;
  }
  .logo span {
    color: #D4ECDD; /* White color for 'SERVE' part */
  }

  .buttons_introduction {
    display: flex;
    padding-right: 80px;

  }

  .buttons_introduction button {
    background-color: #fff; /* Blue button color */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    
  }

  /*content part*/
  .container {
    width: 100%;
    padding: 40px;
    background-color: #fff;
    text-align:center;
    height: 700px;  
  }

  
  .introduction_content h1 {
    margin-bottom: 40px;
    font-size: 56px;
    font-weight: bold;
  }

  .introduction_content p {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .introduction_content button {
    background-color: #1E1E1E;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 169px;
    border-radius: 32px;
    cursor: pointer;
    text-align: center;
    font-size: 16px; 
    font-weight: bold;
  }


  /*login.html*/
  
  /*logo*/

 #login-logo{
    padding: -40px;
    text-align: center;
 }
  
/* login Form styles*/
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
}

.buttons-signin-signup {
  background-color: #1E1E1E;
  color: white;
  padding: 10px 20px;
  border: none;
  width: 100%;
  border-radius: 32px;
  cursor: pointer;
  font-size: 16px; 
  font-weight: bold;
  text-align: center;
}
p {
  margin-top: 20px;
}


/*signup form css*/
.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-group label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.signup-form-group input[type="text"],
.signup-form-group input[type="email"],
.signup-form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff; 
  color: black; 
}

.signup-checkbox {
  margin-bottom: 20px;
}

.signup-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.signup-login-link {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.signup-login-link a {
  color: #3498db;
  text-decoration: none;
}

/*image sa gilid ng login*/
.login-background img{ 
  height: 950px;
  width: 159%;
  object-fit:fill;
  /*kung ayaw ng stretch and image, ito gamitin na code
  height: 950px;
  width: 100%;  */
}


/*home.html*/
.home-header{
  color: #fff; /* White text color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  padding-right: 20px;
  padding-top: 0px; 
  background-color: #88c0d0;
}
.home-logo {
  font-size: 36px;
  font-weight: bold;
  color: #88c0d0; 
  letter-spacing: 1px; 
  text-align: center;
  
}
.home-logo span {
  color: #D4ECDD; /* White color for 'SERVE' part */
}

.home_buttons{
  padding-right: 200px;
}
.home_buttons img {
  margin: 20px;
}
